<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
<title>Find Exam</title>
</head>
<body>
  <div class="container-fluid w-75">
  
    <div class="row">
      <div class="col-8 rounded mr-auto bg-white p-2" id="content">
        
        <input type="text" class="form-control" id="outputData">
        <button type="button" onclick="getStr()" class="btn btn-primary">Do</button>
      </div>
      <div class="col-4 rounded bg-transparent" id="sidebar">
        <div class="rounded p-2" id="info">
          
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="/javascripts/instascan.min.js"></script>
<script src="/javascripts/qrcode.js"></script>
<script>
    

    function getStr()
    {
      str = document.getElementById('outputData').value;
      console.log(Number.isInteger(str));
      var x = parseInt(str);
      if (!x)
      {
        alert("Khong phai EID");
      }
      else
      {
        location.href = '/exams/'+str+'/do';
      }
    }


  </script>
</html>