<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
<title>Create Exam</title>
</head>
<body>
	<div id="check_mark" class="check_mark" style="display: none;">
	  <div class="sa-icon sa-success animate">
	    <span class="sa-line sa-tip animateSuccessTip"></span>
	    <span class="sa-line sa-long animateSuccessLong"></span>
	    <div class="sa-placeholder"></div>
	    <div class="sa-fix"></div>
	  </div>
	</div>
	<div id="load"><div id="iloader"><div id="iloadertext">0%</div></div><div id="loader"></div></div>
	<div class="container-fluid w-75" id="myDiv">
	
		<div class="row">
			<div class="col-8 rounded mr-auto bg-white p-4" id="content">
				<div class="card text-white bg-success mb-3">
				  <div class="card-header">
				    Create a contest
				  </div>
				  <div class="card-body">
				    <form>
					 	 <div class="form-group row">
						    <div class="col-sm-3">
						      <label class="form-text">Name Exam</label>
						    </div>
						    <div class="col-sm-9">
						      <textarea id="ename" name="ename" class="form-control" rows="2" placeholder="Enter name contest"></textarea>
						    </div>
					  	</div>
					  	
					  	<div class="form-group row">
						    <div class="col-sm-5 mx-auto">
						      <button onclick="makeExamByTeacher()" type="button" class="btn btn-primary">Create</button>
						    </div>
					  	</div>
					</form>
				  </div>
				</div>
					
			</div>
			<div class="col-4 rounded bg-transparent" id="sidebar">
				<div class="rounded p-2" id="info">
					
				</div>
			</div>
		</div>
	</div>
</body>
<script src="/javascripts/config.js"></script>
<script src="/javascripts/load.js"></script>
<script src="/javascripts/socket.io.js"></script>
<script>
	var socket = io(httpSocket);
	socket.emit('login', {'user': '<%= tuser %>', 'pass': '<%= pass %>'});
	loadPage();
	let NewExam = {};
	socket.on('rlogin', function(data)
	{
		if (data.cd==0)
		{
			showPage();
			socket.on('rmakeExamByTeacherload', function(data){
				document.getElementById('iloadertext').innerHTML = data+"%";
			})
			socket.on('rmakeExamByTeacher', function(info){
				if (info.cd==0)
				{
					NewExam = info.data;
					location.href = '/exams/'+NewExam.eid+'/edit';
				}
				else
				{
					alert(info.msg);
				}
			})

		}
	})
	function makeExamByTeacher()
	{
		socket.emit('makeExamByTeacher', {tuser: '<%= tuser %>', ename: document.getElementById('ename').value});
		loadPage();
	}

</script>
</html>