<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
<title>ListExam</title>
</head>
<body>
	<!-- The Modal -->
	<div class="modal fade" id="myModal">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <!-- Modal Header -->
	      <div class="modal-header">
	        <h4 class="modal-title">Detail Exam</h4>
	        <button type="button" class="close" onclick="close()" data-dismiss="modal">&times;</button>
	      </div>

	      <!-- Modal body -->
	      <div class="modal-body" id = 'detail' data-spy="scroll" data-target="#myScrollspy" data-offset="20">
	      	Loading....
	      </div>

	      <!-- Modal footer -->
	      <div class="modal-footer">
	        <button type="button" onclick="close()" class="btn btn-danger" data-dismiss="modal">Close</button>
	      </div>

	    </div>
	  </div>
	</div>
	<div id="check_mark" class="check_mark" style="display: none;">
	  <div class="sa-icon sa-success animate">
	    <span class="sa-line sa-tip animateSuccessTip"></span>
	    <span class="sa-line sa-long animateSuccessLong"></span>
	    <div class="sa-placeholder"></div>
	    <div class="sa-fix"></div>
	  </div>
	</div>
	<div id="load"><div id="iloader"><div id="iloadertext"></div></div><div id="loader"></div></div>
	<div class="container-fluid w-75" id="myDiv">
		<div class="row">
			<div class="col-8 rounded mr-auto bg-white p-2" id="content">
				
			</div>
			<div class="col-4 rounded bg-transparent" id="sidebar">
				<div class="rounded p-2 mb-1" id="info">
					
				</div>
				<div class="rounded p-2 mb-1" id="info">
					
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="/javascripts/config.js"></script>
<script src="/javascripts/load.js"></script>
<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/qrcode.js"></script>
<script>
	var QRCode = require('qrcode');

 	var user = '<%= tuser %>';
 	var pass = '<%= pass %>';
 	var tuser = '<%= tuser %>';
 	var socket = io(httpSocket);

 	socket.emit('login', {'user': user, 'pass': pass});
 	loadPage();
 	socket.on('rlogin', function(info){
 		if (info.cd == 0)
 		{
 			getInfoAllExamTeacherMake();
 		}
 		else
 		{
 			alert(data.msg);
			setTimeout(showPage, 2000);
 		}
 	});
 	socket.on('rgetInfoAllExamTeacherMake', function(info){
 		if (info.cd == 0)
 		{
 			Render(info.data);
 			Success();
			setTimeout(showPage, 2000);
 		}
 		else
 		{
 			alert(data.msg);
			setTimeout(showPage, 2000);
 		}
 	});

 	socket.on('rviewAllPointOfExam', function(info){
 		if (info.cd == 0)
 		{
 			Detail(info.data);
 			Success();
			setTimeout(showPage, 2000);
 		}
 		else
 		{
 			alert(data.msg);
			setTimeout(showPage, 2000);
 		}
 	});

 	function viewAllPointOfExam(eid)
 	{
 		data = {};
 		data.eid = eid;
 		loadPage();
 		socket.emit('viewAllPointOfExam', data);
 	}

 	function getInfoAllExamTeacherMake()
 	{
 		data = {};
 		data.tuser = tuser;
 		socket.emit('getInfoAllExamTeacherMake', data);
 	}

 	function Render(data)
 	{
 		var len = data.len;
 		for (var i=len-1; i>=0; i--)
 		{
 			document.getElementById('content').innerHTML += '<div class="card text-white bg-info mb-3" style=""><div id="H0" class="card-header"><a href="/exams/'+data.arr[i].eid+'"><font color="white">'+data.arr[i].eid+': '+data.arr[i].name+'</front></a><button onclick="viewAllPointOfExam('+data.arr[i].eid+')" type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#myModal">Detail</button></div><div class="card-body"><div class="row"><div class="col-3"><canvas id='+"QR"+i+' class="p-1 border mx-auto"></canvas></div><div class="col-9 border-left p-1"><div class="row border-bottom mb-1"><div id="SJ0" class="col-6 border-right">Subject: '+data.arr[i].type+'</div><div id="C0" class="col-6">'+moment(parseInt(data.arr[i].created, 10)*1000).format("YYYY-MM-DD HH:mm")+'</div></div><div class="row border-bottom mb-1"><div id="TS0" class="col-6 border-right">Start: '+moment(parseInt(data.arr[i].timeStart, 10)*1000).format("YYYY-MM-DD HH:mm")+'</div><div id="TN0" class="col-6">End: '+moment(parseInt(data.arr[i].timeEnd, 10)*1000).format("YYYY-MM-DD HH:mm")+'</div></div><div class="row border-bottom mb-1"><div id="NOQ0" class="col-6">Number Of Question: '+data.arr[i].qlen+'</div></div><div class="row border-bottom mb-1"><div id="P0" class="col-6">Publish: '+data.arr[i].publish+'</div></div></div></div></div></div>'
 		}
 		for (var i=0; i<len; i++)
 		{
 			QRCode.toCanvas(document.getElementById('QR'+i), data.arr[i].eid, function (error) {
			    if (error) console.error(error)
			    console.log('success!');
		  	})
 		}
 	}

 	function Detail(data)
 	{
 		document.getElementById('detail').innerHTML = "";
 		document.getElementById('detail').innerHTML += "<p>Len Do: "+data.len+"</p><hr>";
 		for (var i=0; i<data.len; i++)
 		{
 			document.getElementById('detail').innerHTML += "<p> > "+data.arr[i].user + ": " + data.arr[i].point + "/" + data.qlen+"</p><hr>";
 		}
 	}

 	function close()
 	{
 		document.getElementById('detail').innerHTML = "";
 	}
</script> 
</html>