<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
<title>Create Exam</title>
</head>

<body>
	<div id="check_mark" class="check_mark" style="display: none;">
	  <div class="sa-icon sa-success animate">
	    <span class="sa-line sa-tip animateSuccessTip"></span>
	    <span class="sa-line sa-long animateSuccessLong"></span>
	    <div class="sa-placeholder"></div>
	    <div class="sa-fix"></div>
	  </div>
	</div>
	<div id="load"><div id="iloader"><div id="iloadertext">0%</div></div><div id="loader"></div></div>
	<div class="container-fluid w-75" id="myDiv">
		<nav class="navbar navbar-light bg-transparent">
		  <a class="navbar-brand" href="#">
		    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
		    Bootstrap
		  </a>
		</nav>
	
		<div class="row">
			<div class="col-8 rounded mr-auto bg-white p-4" id="content">
				<form id="form" method="post">
					
					
				</form>
				<button type="button" onclick="submit()" class="btn btn-primary">Submit</button>
			</div>	
			

			<div class="col-4 rounded bg-transparent" id="sidebar">
				<div class="rounded p-2 mb-1" id="tool">
					
					
				</div>
				<div class="rounded p-2 mb-1" id="info">
					<div class="card text-white bg-success mb-3">
					  <div class="card-header">
					    General
					  </div>
					  <div class="card-body">
					    <form>
					    	 <div class="form-group row">
							    
							    <div class="col-sm-12">
							      <input type="text" name="eid" class="form-control" id="eid" disabled="disabled">
							    </div>
						  	</div>
						  	<div class="form-group row">
							    
							    <div class="col-sm-12">
							      <input type="text" name="eid" class="form-control" id="created" disabled="disabled">
							    </div>
						  	</div>
						 	 <div class="form-group row">
							    
							    <div class="col-sm-12">
							    	<textarea id="ename" name="ename" class="form-control" rows="2" disabled="disabled"></textarea>
							    </div>
						  	</div>
						  	<div class="form-group row">
							  	
								  <div class="col-sm-12">
								    <input class="form-control" type="datetime-local" name="timestart" value="" id="timestart" disabled="disabled">
							  	</div>
							</div>
							<div class="form-group row">
							  
							  <div class="col-sm-12">
							    <input class="form-control" type="datetime-local" name="timeend" value="" id="timeend" disabled="disabled">
							  </div>
							</div>
							<div class="form-group row">
							  	<div class="col-sm-12">
								  <select class="custom-select" id="type" name="type" disabled="disabled">
									  <div class="col-sm-12">
									    <option id="Math" name="Math" value="Math">Math</option>
								        <option id="Physics" name="Physics" value="Physics">Physics</option>
								        <option id="Chemistry" name="Chemistry" value="Chemistry">Chemistry</option>
								        <option id="Civic education" name="Civic education" value="Civic education">Civic education</option>
									  </div>
									</select>
								</div>
							</div>
							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <div class="input-group-text">
							      <input type="checkbox" id="publish" aria-label="Checkbox for following text input" disabled="disabled">
							    </div>
							  </div>
							  <label class="form-control" disabled="disabled">Publish</label>
							</div>
						</form>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	let suser = '<%= suser %>';
	let pass = '<%= pass %>';
	let eid = <%= eid %>;
</script>
<script src="/javascripts/config.js"></script>
<script src="/javascripts/load.js"></script>
<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/student/doexam.js"></script>
</html>